name: Grading

on: push


# declaring all variables that will change
env:
  ORG_NAME: JH-705-603

jobs:
   pull-repo-run-test:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.set_output.outputs.result }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      # Checks-out the student repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Clone student repo
        uses: actions/checkout@v4
        with: 
          repository: '${{ github.repository }}'
          path: ${{ github.repository }}
          ref: main

      - name: setup assignment 8
        run: |
          # install the python packages for the grading repo
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          # pip install pandas datetime pyarrow timezonefinder flask urllib3

          cd $GITHUB_WORKSPACE
          cp -rf ./assignment-8-test/* ./${{ github.repository }}/textwave/
          pip install -r ./${{ github.repository }}/textwave/requirements.txt

      # Runs unit test
      - name: Runs all unit tests for assignment 8
        run: |
          cd $GITHUB_WORKSPACE/${{ github.repository }}/textwave/
          python -m unittest -v unit-test.py 2> /home/runner/work/textwave || true

      - name: Save output as artifact
        id: set_output_1
        uses: actions/upload-artifact@v4
        with:
          name:  textwave
          path:  /home/runner/work/textwave
      
      - name: setup assignment 9
        run: |
          cd $GITHUB_WORKSPACE
          cp -rf ./assignment-9-test/* ./${{ github.repository }}/textwave/
          pip install -r ./${{ github.repository }}/textwave/requirements.txt

      # Runs unit test
      - name: Runs all unit tests for assignment 9
        run: |
          cd $GITHUB_WORKSPACE/${{ github.repository }}/textwave/
          python -m unittest -v unit-test.py 2> /home/runner/work/textwave || true

      - name: Save output as artifact
        id: set_output_2
        uses: actions/upload-artifact@v4
        with:
          name:  textwave
          path:  /home/runner/work/textwave
